<!doctype html>
<html lang="en" xmlns:th=http://www.thymeleaf.org>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Edicion de Vias!</title>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">Prueba</span>
        </div>
    </nav>
    </br>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center">
                <h1 class="text-center">Edicion de Vias</h1>
                <div class="card-body">
                    <form th:action="@{/highway/{id}(id=${highway.id})}" th:object="${highway}" method="POST">
                        <div class="form-group">
                            <label for="">Id</label>
                            <input type="number" name="id" th:field="*{id}" class="form-control"
                                placeholder="Digite el identificador." required>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="">Tipo</label>
                            <select class="form-select" th:field="*{type}" required>
                                <option th:value="'Autopista'" th:text="Autopista" ></option>
                                <option th:value="'Carretera principal'" th:text="Carretera_principal" ></option>
                                <option th:value="'Carretera secundaria'" th:text="Carretera_secundaria" ></option>
                            </select>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="">Carrera o Calle?</label>
                            <select class="form-select" th:field="*{street_or_race}" required>
                                <option th:value="'Carrera'" th:text="Carrera" ></option>
                                <option th:value="'Calle'" th:text="Calle" ></option>
                            </select>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="">Numero de la calle o carretera</label>
                            <input type="number" name="number" th:field="*{number}" class="form-control"
                                placeholder="Digite el numero." required>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="">Nivel de congestion</label>
                            <input type="number" name="congestion_level" th:field="*{congestion_level}" class="form-control"
                            placeholder="Digite el nivel de congestion." required>
                        </div>
                        <br>
                        <div class="box-folder">
                            <button class="btn btn-success">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </br>
    <div class="container">

    </div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
</body>

</html>